.default-news-header{
    @include news-header-basic();
    @include responsive-font(1.2vw,14px);
    display:flex;
    align-items: center;
    background: #211e1e
}

.default-news-header-icon{
    margin: 0 7px;
    color:#ef0244;
}

.default-news-content{
   @include responsive-font();
   color:white;
   padding:5px;
}

.default-news-header-text{
    flex-grow: 10;
}

.default-news-added-at-date{
    margin-left: auto;
}

@media(max-width: 400px){
    .default-news-header-text{
        margin-left:5%;
    }
}