@import '~sasscomponent/movies/movies_container';
@import '~sasscomponent/user/authenticated_user_preview';

.pornstar-profile-tabpanel{
    list-style-type: none;
    margin:0;
    padding: 9px 0 0 12px;
    display:flex;
    flex-wrap:nowrap;
    background:#131313;
}

.pornstar-profile-tab{
    @include responsive-font(1.4vw,19px, Aldrich);
    padding:1vw;
    color:white;
    text-align: center;
    border-radius:7px 7px 0 0;
    cursor:pointer;
    background:black;
}

.movies-container{
    margin-top:15px;
}

.active-tab{
   background: #2f2d2d;
}

.pornstar-votes-data{
    @include responsive-font(1.8vw,25px);
    color:white;
    text-align: center;
}

.pornstar-current-rating{
    padding:5px;
    text-align: center;
}

.rate-container{
    text-align: center;
    padding:4px;
    background:black;
}

.no-data-info{
    @include responsive-font();
    text-align:center;
    color:white;
    padding:5px;
}

.unauthenticated-users-info{
    padding:5px;
    text-align: center;
    color:white;
    @include responsive-font(1.5vw,21px);
    background: linear-gradient(#ea1313, #520202);
}

.voter-icon{
    color:white;
    margin:0 5px;
}

.user-vote-element{
    min-width:100px;
}

.user-vote-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.voting-person-icon{
    color:white;
    @include responsive-font(5.5vw,45px);
    display:block;
    padding:6px;
}

.voting-all{
    text-align:center;
    background:#9c1a31;
    padding: 5px;
}

#app .textarea-combo-message{ //not really nice but sometimes you have no choice
    background:#060606;
}

#app .accept-button{
    width: 25%;
    min-width:200px;
    margin:0 auto;
}

.comment-container{
    position: relative;
}

.button-container{
    padding:4px;
}