@import '~sasscomponent/movies/movies_container';
@import '~sasscomponent/user/authenticated_user_preview';
@import '~sasscomponent/hide_content_show_on_demand_container';
@import '~sass/nice_scrollbar';

.pornstar-profile-tabpanel{
    list-style-type: none;
    margin:0;
    padding: 9px 0 0 12px;
    display:flex;
    flex-wrap:nowrap;
    background:#3e3e3e;
}

.pornstar-profile-tab{
    @include responsive-font(1.4vw,19px, Aldrich);
    padding:1vw;
    color:white;
    text-align: center;
    border-radius:7px 7px 0 0;
    cursor:pointer;
    background:black;
}

.movies-container{
    margin-top:15px;
}

.active-tab{
   background: #0e0e0e;
}

.pornstar-votes-data{
    @include responsive-font(1.8vw,25px);
    color:white;
    text-align: center;
}

.pornstar-current-rating{
    padding:5px;
    text-align: center;
}

.rate-container{
    text-align: center;
    padding:4px;
    background:#0e0e0e;
}

.no-data-info{
    @include responsive-font();
    text-align:center;
    color:white;
    padding:5px;
}

.unauthenticated-users-info{
    padding:5px;
    text-align: center;
    color:white;
    @include responsive-font(1.5vw,21px);
    background: #0e0e0e;
}

.voter-icon{
    color:white;
    margin:0 5px;
}

.user-vote-element{
    min-width:100px;
}

.user-vote-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.voting-person-icon{
    color:white;
    @include responsive-font(5.5vw,45px);
    display:block;
    padding:6px;
}

.voting-all{
    text-align:center;
    background:#9c1a31;
    padding: 5px;
}

#app .textarea-combo-message{ //not really nice but sometimes you have no choice
    background:#060606;
}

#app .accept-button{
    width: 25%;
    margin:10px auto;
    min-width: 270px
}

.comment-container{
    position: relative;
}

.button-container{
    padding:4px;
}

.comments-section{
    min-height:250px;
    position:relative;
}

.comment-icon{
    margin: 0 5px;
}

.comments-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.amount-of-comments-info{
    text-align: center;
    color: white;
    @include responsive-font();
}

.pagination-link{
    border:none;
    @include responsive-font();
    cursor:pointer;
    outline:none;
}

.aditional-link{
    background: linear-gradient(to bottom, #1d1c1c, #0e0e0e);
    border:none;
    cursor:pointer;
    outline:none;
}

.aditional-link-button{
    background: linear-gradient(to bottom, #1d1c1c, #0e0e0e);
    border: none;
    outline: none;
    color:white;
    @include responsive-font(1.3vw, 13px);
    cursor:pointer;
}

