@import '~sass/basic';

.full-body{
    background: #151313;
}

.pornstars-list-content-all{
    display:block;
}

.pornstars-list-main-header{
  @include responsive-font(1.5vw,17px);
  min-width:300px;
  padding:2vw;
  text-align:center;
  color:white;
}

.header-icon{
    fill:gold;
    margin:0 4px;
    width: 1.2em;
    height:auto;
}