@import '~sass/basic';

.full-body{
    background: #151313;
}

.pornstars-list-content-all{
    display:block;
    margin: calc(35px + 2vw) auto;
}

.pornstars-list-main-header{
  @include responsive-font(1.5vw,17px);
  width: 80%;
  min-width:300px;
  margin: 0 auto;
  padding:2vw;
  text-align:center;
  color:white;
  background-image: url('/images/decoration/pornstars/pornstars-profiles/dupeczki.jpg');
  background-size:cover;
}

.header-icon{
    color:gold;
    margin:0 4px;
    @include responsive-font(1.7vw,19px,"");
}