@mixin background-image($name, $number, $backgroundPosition : center, $extension : jpg){
    @media(min-width:2000px){
        .empire-background-image-#{$number} {
            background-image: url('../images/decoration/#{$imageFolder}/background-images/compressed/#{$name}-m-2000-min.#{$extension}');
          }
    }

    @media(min-width:1200px) and (max-width:1999px){
        .empire-background-image-#{$number} {
            background-image: url('../images/decoration/#{$imageFolder}/background-images/compressed/#{$name}-m-1200-min.#{$extension}');
          }
    }

    @media(max-width:1199px){
        .empire-background-image-#{$number} {
            background-image: url('../images/decoration/#{$imageFolder}/background-images/compressed/#{$name}-m-0-min.#{$extension}');
            @if $backgroundPosition != center{
                background-position: $backgroundPosition;
            }
            
          }
    }
    

}