* 
{
	box-sizing: border-box;
}

@import 'components/footer'; 
@import 'components/main_page_navbar';
@import 'components/single_line_labeled_text_input';
@import 'components/submit_button';
@import 'components/fixed_information_icons';
@import 'components/incorrect_value_icon';
@import 'components/fixed_information_icons';

.single-line-text-input-label{
	width:100%;
}

.icon-wraper{
	position:relative;
	width:95%;
	margin:15px auto;
}

.icon-incorrect-value{
	display:none;
}

 .error-active{
 	display:flex;
 }

.full-body
{
	margin:0;
	padding:0;
	min-height:100vh;
	background{
		size:cover;
		attachment:fixed;
		image: url('../images/decoration/contact/background.jpg');
	}
	
}

.contact-form{
	max-width:500px;
	width:95%;
	background:rgba(0,0,0,0.92);
	border-radius:5px;
	box-shadow:2px 2px 3px 3px;
	margin:40px auto 100px;
	border:1px solid transparent;
}

.user-message{
	width:100%;
	display:block;
	border-radius:8px;
	background:#242229;
	color:white;
	border:2px solid transparent;
	resize:none;
	color:white;
	font:{
		size: 17px;
		family : 'Exo 2', sans-serif;
	}
	&:focus{
		outline:none;
		border:2px solid #6e0d1a;
	}
}

.form-description{
	color:white;
	padding: 4px;
	font:{
		size: 15px;
		family : 'Exo 2', sans-serif;
	}
}

.message-label{
	display:block;
	text-align:center;
	color:white;
	font:{
		size: 19px;
		family : 'Exo 2', sans-serif;
	}
}

 .information-container{
	margin: 25px auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    border-radius: 6px;
    color: white;
    display: table;
    padding: 5px;
    border: 1px solid black;
    position:relative;
}

.error-information-container{
    background: #96080f;
}

.success-information-container{
	background:#09960b;
}

.error-list{
    text-align: left;
    margin: 5px auto;
    padding-left: 25px;
    list-style-type: none;
    padding: 0;
}

.error-list-element{
	&:before{
		content : ' \25CF ';
		margin: 0 5px;
	}
}

.input-with-error{
    border: 2px solid red;
}

.error-active{
    display:flex;
}


@media (min-width: 700px) and (max-width: 1200px)
{
  .full-body{
  	background-image: url('../images/decoration/contact/background.jpg');
  }
  
}