@import '~sass/basic';
@import '~sass/background_images';

$imageFolder : contact;

.contact-form{
	max-width:500px;
	width:95%;
	background:rgba(0,0,0,0.92);
	border-radius:5px;
	box-shadow:2px 2px 3px 3px;
	margin:50px auto 100px;
	border:1px solid transparent;
}

.form-description{
	color:white;
	padding: 4px;
	@include responsive-font(1.2vw,15px);
}

@include background-image(chicks,1);