@import 'components/report';
@import 'basic';

.contact-form{
	max-width:500px;
	width:95%;
	background:rgba(0,0,0,0.92);
	border-radius:5px;
	box-shadow:2px 2px 3px 3px;
	margin:50px auto 100px;
	border:1px solid transparent;
}

.form-description{
	color:white;
	padding: 4px;
	@include responsive-font(1.2vw,15px);
}


@media (min-width: 1201px)
{
  .full-body{
  	background-image: url('../images/decoration/contact/compressed/background-min-3.jpg');
  }
  
}


@media (min-width: 700px) and (max-width: 1200px)
{
  .full-body{
  	background-image: url('../images/decoration/contact/compressed/background-min-1.jpg');
  }
  
}

@media (max-width: 699px)
{
  .full-body{
  	background-image: url('../images/decoration/contact/background-1.jpg');
  }
  
}