.error-message-box{
	display:block;
	font:{
		size:1vw;
		family:"Aldrich", sans-serif;
	}
	color:red;
	padding:2px 2px 3px;
	text-align: center;
	height: calc(1em + 6px);
}

@media (max-width:1200px) {
 
	 .error-message-box{
		 font-size: 13px;
	 }
 }



