@import "~sass/basic";
@import "~sass/nice_scrollbar";
@import "~sass/responsive_icon";
@import '~sasscomponent/movies/movies_container';

.full-body {
    background: #0e0e0e;
}

.main-content{
  width:95%;
  margin: 0 auto;
}

.main-page-header {
    color:white;
    @include responsive-font(1.7vw, 20px);
    padding:5px;
    text-align:left;
    background:#201f1f;
}

.medal-icon {
    width: 1em;
    height: auto;
    vertical-align: middle;
    margin:0 5px;
}

.board-icon{
    width: 1.3em;
    height: auto;
    vertical-align: middle;
    margin:0 5px;
    fill:#53d318;
}