@mixin news-header-basic{
    padding:7px 3px;
    text-align: center;
    display:block;
    margin:0;
    color:white;
    height: calc(1.1em + 14px);
}

@mixin news-icon-basic {
    color:  #ef0244;
    margin:0 7px;
}

@import '~sass/basic';
@import '~sass/background_images';
@import '~sass/news/default_news';
@import '~sass/nice_scrollbar';
$imageFolder : mainpage;

@include background-image(japanese-schoolgirl,1,right);
@include background-image(cute-girl,2);
@include background-image(car-date,3,left);
@include background-image(japanese-chick-in-lambo,4);
@include nice-scrollbar('.news-container');

.news-introduction{
    padding:3px 5px;
    margin:0;
    flex-grow: 10
}

.main-content{
    display:flex;
    background: rgba(0,0,0,0.95);
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius:8px;
    box-shadow:2px 2px 3px 3px black;
    margin:calc(40px + 5vw) auto;
    width:70%;
    min-width: 750px;
    height: 55vh;
    min-height: 360px;
    justify-content: stretch;
    overflow: hidden;
}

.introductory-content{
    width:30%;
    min-width:320px;
    @include responsive-font(1.3vw,17px);
    color:white;
    border-right: 1px solid silver;
    display: flex;
    flex-direction: column;
}

.introductory-header, .news-header{
    @include responsive-font(2vw, 25px, Aldrich);
    @include news-header-basic();
    background:black;
}

.introductory-header-icon{
    @include news-icon-basic();
}

.quick-start-icon{
    @include news-icon-basic();
}

.news-container{
    flex-grow: 100;
    margin-top: 7px;
}

.quick-start-header{
    @include responsive-font(1.3vw, 18px, Aldrich);
    @include news-header-basic();
    background:#211e1e;
}

.quickstart-options-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin:0;
    padding:0;
    background: black;
}

.quickstart-option{
    text-align: center;
    cursor:pointer;
    margin:0;
    padding:0;
    flex-grow: 1;
    transition: background 1.5s;
    &:hover{
        background:#ef0244;
    }
}

.quickstart-option:hover .quickstart-option-icon{
    color:white;
}

.quickstart-option-icon{
    @include news-icon-basic();
    display:block;
    padding-bottom: 3px;
}

.quickstart-option-description{
    display:block;
    text-align: center;
    @include responsive-font(1.1vw,14px);
    color:white;
    padding:3px 0;
}

.news-container{
    overflow:auto;
    height: calc(100% - 14px - 1.4vw);
}

.quickstart-link{
    display: block;
    text-decoration: none;
}

@media(max-width:1200px){
    .news-container{
        height: calc(100% - 55px);
    }
    
}

@media(max-width:790px){
    .main-content{
        flex-direction: column;
        min-width: 300px;
        width:95%;
        max-height: none;
        height:auto;
    }

    .introductory-content{
        width:100%;
        border-right: none;
    }

    .news-header{
        border-top: 1px solid silver;
    }

    .news-all{
       height:50vh;
       min-height:250px;
    }
}

