@import '~sass/fonts';

$footerFontRelative : 2vw;
$footerFontFixed : 30px;
$footerPadding: 10px;

.empire-footer
{
	width:100%;
	padding:$footerPadding;
	background: black;
	@include responsive-font($footerFontRelative,$footerFontFixed, Aldrich);
	color:white;
	text-align: center;
	position: relative;
	z-index:4;
}

.contact-us-link
{
	text-decoration: none;
	color:white;
	margin: 0 18px;
	&:hover
	{
		text-decoration: underline;
	}
}

.footer-icon{
   fill:#eb091c;
   width:1em;
   height:auto;
   vertical-align: middle;
}
