@import '../fonts';

.empire-footer
{
	width:100%;
	padding:10px;
	background: linear-gradient(to right,#000,#3b3a38);
	@include responsive-font(1.7vw,22px, Aldrich);
	color:white;
	text-align: center;
}

.contact-us-link
{
	text-decoration: none;
	color:white;
	margin: 0 18px;
	&:hover
	{
		text-decoration: underline;
	}
}
