
.success-information{
	margin: calc(30px + 3vw) auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    border-radius: 6px;
    color: white;
    display: table;
    padding: 5px;
    border: 1px solid black;
    position:relative;
    background: linear-gradient(#0fe00b, #054004);
    box-shadow: 2px 2px 4px 3px black;
}