@import 'icons/icon_confirmation';


.success-information{
	margin: calc(30px + 3vw) auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    border-radius: 6px;
    color: white;
    display: table;
    position:relative;
    box-shadow: 2px 2px 3px 2px black;
    overflow: hidden;
}

.icon-background{
    background: rgba(0,0,0,0.9);
    padding: 7px;
}

.icon-confirmation-center{
    display: block;
    margin:0 auto;
    width:3vw;
    height:3vw;
    min-width: 35px;
    min-height: 35px;
}

.confirmation-text{
    text-align: center;
    padding: 10px;
    background:linear-gradient(#16d012, #021502);
}