.icon-container{
    top: 0;
    right:0;
    transform:translate(50%,-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position:absolute;
    z-index:2;
}

.icon-correct-value{
   background:green;
   display:none; 
}

.icon-incorrect-value
{
    background: red;
    display:none;
}

.white-bar
{
    width: 80%;
    height: 35%;
    background:white;
    margin:30% auto;
}


.confirmation-icon-bird{
    width:8px;
    height:13px;
    position: relative;
    left: 30%;
    top: 15%;
    border-right:1px solid white;
    border-bottom:1px solid white;
    transform:rotate(45deg);
}