.icon-correct-value{
   background:green; 
}

.confirmation-icon-bird{
    width:8px;
    height:13px;
    position: relative;
    left: 30%;
    top: 15%;
    border-right:1px solid white;
    border-bottom:1px solid white;
    transform:rotate(45deg);
}

.icon-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index:2;
}