.birth-date-container{
		width: 95%;
		margin: 0 auto;
		color:white;
        font-family: "Exo 2", sans-serif;
        font-size: 16px;
	}

	.request-text{
		text-align: center;
		padding:3px;

	}

	.flex-container{
		display:flex;
		border-radius: 8px;
		justify-content: space-evenly;
		background : #242229;
		padding: 3px;
		font-size: 13px;
		border: 2px solid transparent;
		position:relative;
	}

	.time-span-select{
        border-radius: 4px;
        background: #242229;
        color: white;
        font-family: inherit;
        font-size:15px;
        border: 1px solid black;
	}

	.time-span-label{
		position: absolute;
        top: -9999px;
        left: -9999px;
	}

	.time-span-container{
        padding: 2px;
        border-radius: 6px;
	}