.error-information-container{
    background: #96080f;
}

.information-container{
	margin: 25px auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    border-radius: 6px;
    color: white;
    display: table;
    padding: 5px;
    border: 1px solid black;
    position:relative;
}

.error-list{
    text-align: left;
    margin: 5px auto;
    padding-left: 25px;
    list-style-type: none;
    padding: 0;
}

.error-list-element{
	&:before{
		content : ' \25CF ';
		margin: 0 5px;
	}
}