.navigation-list{
	list-style-type: none;
	padding:0;
	margin:0;
	display:flex;
	background: #0d0c0d;
	align-items: stretch;
}

.register-selection{
	margin-left: auto;
}

.navigation-element{
	transition: background 2s;
	&:hover
	{
		background: #2d2d30;
	}
	cursor:pointer;
	color:white;
	display: inline-block;
    line-height: 100%;
    padding:6px;
	font:{
	  family: 'Oxanium';  
	  size:1.5vw;
	}
}

.main-page-navigation{
	box-shadow: 2px 2px 2px 2px black;
	position: relative;
    z-index: 6;
    position: fixed;
    width: 100%;
}

.sub-menu-container{
	position:relative;
	font-size:0;
}

$border-color: #5c060d;

.sub-menu-list{
	position:absolute;
	overflow:hidden;
	display:block;
	top:0;
	max-height:0;
	transition: max-height 1s;
	padding: 0;
    list-style-type: none;
    margin: 0;
    font:{
	  family: 'Oxanium';  
	  size:1.5vw;
	}
	color:white;
	width: 90%;
    top: 0;
    left: 5%;
    border-radius: 0 0 8px 8px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    box-shadow:2px 2px 2px 2px black;
}

.sub-menu-list-element{
	padding:5px 0 5px 5vw;
	cursor:pointer;
}

.sub-menu-list-element:nth-child(odd)
{
  background: #0d0c0d;
}

.sub-menu-list-element:nth-child(even)
{
  background: black;
}

.sub-menu-list-element:hover{
	opacity:0.95;
}

.sum-menu-list-element:last-child{
	border-radius: 0 0 8px 8px;
}

.navbar-icon{
	margin:0 3px;
	color:#eb091c
}

@media (min-width:620px) and (max-width: 1000px)
{
	.navigation-element{
		font-size:2.2vw;
	}
}

@media (max-width: 619px)
{
	.navigation-element{
		font-size:3.9vw;
	}
}
