.success-information-container{
	background:#09960b;
}

.information-container{
	margin: 25px auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    border-radius: 6px;
    color: white;
    display: table;
    padding: 5px;
    border: 1px solid black;
    position:relative;
}