.empire-footer {
  width: 100%;
  padding: 10px;
  background: black;
  font-size: 2vw;
  font-family: Aldrich, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  z-index: 4; }
  @media (max-width: 1200px) {
    .empire-footer {
      font-size: 30px; } }

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px; }
  .contact-us-link:hover {
    text-decoration: underline; }

.footer-icon {
  fill: #eb091c;
  width: 1em;
  height: auto;
  vertical-align: middle; }

.icon-error-close {
  display: inline-block;
  background: white;
  width: 65%;
  height: 65%;
  position: absolute;
  font-size: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); }

.icon-error-cross-container {
  position: relative;
  background: #ef0244;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #ef0244;
  font-size: 0;
  min-width: 30px;
  min-height: 30px;
  width: 2.3vw;
  height: 2.3vw;
  display: inline-block; }

.error-information-container {
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px 3px black;
     -moz-box-shadow: 2px 2px 4px 3px black;
          box-shadow: 2px 2px 4px 3px black;
  border: 2px solid #ef0244;
  margin: -webkit-calc(25px + 1.6vw) auto;
  margin: -moz-calc(25px + 1.6vw) auto;
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  color: white;
  display: table;
  position: relative;
  max-width: 75%;
  min-width: 310px;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .error-information-container {
      font-size: 16px; } }

.error-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.9);
  padding: 7px; }

.information-container {
  margin: -webkit-calc(25px + 1.6vw) auto;
  margin: -moz-calc(25px + 1.6vw) auto;
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  color: white;
  display: table;
  border: 1px solid black;
  position: relative;
  max-width: 75%;
  min-width: 310px; }

.error-list {
  text-align: left;
  margin: 0;
  padding-left: 25px;
  list-style-type: none;
  padding: 0;
  background: #ef0244eb; }

.error-list-element {
  padding: 6px; }

.success-information, .information-container {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .success-information, .information-container {
      font-size: 16px; } }

.error-list-element:before {
  content: ' \25CF ';
  margin: 0 5px; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.full-body {
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
  -moz-background-size: cover;
       background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.aplication-container {
  min-height: -webkit-calc(100vh - 2*10px - 30px - 35px - 1.5vw);
  min-height: -moz-calc(100vh - 2*10px - 30px - 35px - 1.5vw);
  min-height: calc(100vh - 2*10px - 30px - 35px - 1.5vw);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: -webkit-calc(35px + 1.5vw);
  margin-top: -moz-calc(35px + 1.5vw);
  margin-top: calc(35px + 1.5vw); }
  @media (min-width: 1200px) {
    .aplication-container {
      min-height: -webkit-calc(100vh - 2*10px - 2vw - 35px - 1.5vw);
      min-height: -moz-calc(100vh - 2*10px - 2vw - 35px - 1.5vw);
      min-height: calc(100vh - 2*10px - 2vw - 35px - 1.5vw); } }

.search-results__back-to-search-panel-button {
  min-width: 200px;
  margin: 10px auto;
  width: 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0fe00b), to(#054004));
  background: -webkit-linear-gradient(#0fe00b, #054004);
  background: -moz-linear-gradient(#0fe00b, #054004);
  background: -o-linear-gradient(#0fe00b, #054004);
  background: linear-gradient(#0fe00b, #054004);
  color: white;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  display: block;
  padding: 6px;
  border: none; }
  @media (max-width: 1200px) {
    .search-results__back-to-search-panel-button {
      font-size: 16px; } }
  .search-results__back-to-search-panel-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#d61436), to(#800c22));
    background: -webkit-linear-gradient(#d61436, #800c22);
    background: -moz-linear-gradient(#d61436, #800c22);
    background: -o-linear-gradient(#d61436, #800c22);
    background: linear-gradient(#d61436, #800c22); }

.search-results__icon--white {
  fill: white;
  width: 1.7vw;
  height: 1.7vw;
  min-width: 25px;
  min-height: 25px;
  vertical-align: bottom; }

.search-results__icon--crimson {
  fill: crimson;
  width: 1.7vw;
  height: 1.7vw;
  min-width: 25px;
  min-height: 25px;
  vertical-align: bottom; }

.search-results__icon--exit {
  fill: white;
  width: 1.2vw;
  height: 1.2vw;
  min-width: 17px;
  min-height: 17px;
  vertical-align: bottom;
  margin-right: 5px; }

.search-results__options-list {
  margin: 0;
  padding: 0.4vw 0 1vw 6vw;
  list-style-type: none; }

.search-results__option {
  color: white;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .search-results__option {
      font-size: 16px; } }
  .search-results__option::before {
    content: " ";
    color: crimson;
    background: crimson;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 5px; }

.search-results__summary {
  width: 40%;
  min-width: 300px;
  margin: 0 auto;
  border: 1px solid #d2cacb;
  -webkit-box-shadow: 1px 1px 1px 1px black;
     -moz-box-shadow: 1px 1px 1px 1px black;
          box-shadow: 1px 1px 1px 1px black;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background: black;
  padding-bottom: 7px; }

.search-results__header {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-weight: bold;
  color: white; }
  @media (max-width: 1200px) {
    .search-results__header {
      font-size: 16px; } }
  .search-results__header--extra-padding {
    font-size: 1.2vw;
    font-family: "Exo 2", sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 6px; }
    @media (max-width: 1200px) {
      .search-results__header--extra-padding {
        font-size: 16px; } }
  .search-results__header--crimson {
    text-align: center;
    font-weight: bold;
    padding: 6px;
    font-size: 1.7vw;
    font-family: "Exo 2", sans-serif;
    color: crimson; }
    @media (max-width: 1200px) {
      .search-results__header--crimson {
        font-size: 22px; } }

.full-body {
  background: #0e0e0e; }

.advanced-search-panel {
  display: grid;
  padding: -webkit-calc(30px + 1vw) 0 5px 0;
  padding: -moz-calc(30px + 1vw) 0 5px 0;
  padding: calc(30px + 1vw) 0 5px 0;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: auto;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  max-height: 3000px;
  -webkit-transition: max-height 1s;
  -o-transition: max-height 1s;
  -moz-transition: max-height 1s;
  transition: max-height 1s; }
  @media (max-width: 541) {
    .advanced-search-panel {
      margin-top: 70px; } }
  @media (max-width: 1250px) {
    .advanced-search-panel {
      grid-template-columns: repeat(2, 43%); } }
  @media (max-width: 700px) {
    .advanced-search-panel {
      grid-template-columns: 65%; } }
  @media (max-width: 420px) {
    .advanced-search-panel {
      grid-template-columns: 98%; } }
  .advanced-search-panel--hidden {
    max-height: 0; }

.information-content {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  color: white;
  margin: 0;
  padding: 0 0 7px 0;
  text-align: center; }
  @media (max-width: 1200px) {
    .information-content {
      font-size: 16px; } }

.panel-group {
  -webkit-border-radius: 1vw;
     -moz-border-radius: 1vw;
          border-radius: 1vw;
  padding: 6px;
  margin: 0;
  border: 2px solid #35363a; }
  .panel-group--relative {
    -webkit-border-radius: 1vw;
       -moz-border-radius: 1vw;
            border-radius: 1vw;
    padding: 6px;
    margin: 0;
    border: 2px solid #35363a;
    position: relative; }

.panel-group-legend {
  font-size: 1.8vw;
  font-family: "Exo 2", sans-serif;
  color: silver; }
  @media (max-width: 1200px) {
    .panel-group-legend {
      font-size: 25px; } }

.info-decoration-icon {
  width: 1.8vw;
  margin: 0 3px;
  vertical-align: middle;
  fill: #ec1515;
  height: auto; }
  @media (max-width: 1200px) {
    .info-decoration-icon {
      width: 25px; } }

#app .select_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

#app .select-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

#app .select-container__select {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
     -moz-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10; }

.select-container {
  margin: 10px 0; }

.labeled-checkbox-description {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  color: white; }
  @media (max-width: 1200px) {
    .labeled-checkbox-description {
      font-size: 16px; } }

.labeled_checkbox--aditional-margin {
  margin: 8px 0; }

.range-selection {
  margin: 10px; }

.range-selection-description {
  text-align: center;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  color: white;
  display: block;
  padding: 7px; }
  @media (max-width: 1200px) {
    .range-selection-description {
      font-size: 16px; } }

.range-selection__input {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

.range-selection__input::-webkit-slider-thumb {
  -webkit-appearance: none; }

.range-selection__input:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

.range-selection__input::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

.range-selection__input::-webkit-slider-runnable-track {
  width: 100%;
  height: 1vw;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #242229;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none; }
  @media (max-width: 1000px) {
    .range-selection__input::-webkit-slider-runnable-track {
      height: 10px; } }

.range-selection__input::-moz-range-track {
  width: 100%;
  height: 1vw;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
       box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #242229;
  -moz-border-radius: 4px;
       border-radius: 4px;
  border: none; }
  @media (max-width: 1000px) {
    .range-selection__input::-moz-range-track {
      height: 10px; } }

.range-selection__input::-ms-track {
  width: 100%;
  height: 1vw;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #242229;
  border-radius: 4px;
  border: none; }
  @media (max-width: 1000px) {
    .range-selection__input::-ms-track {
      height: 10px; } }

.range-selection__input::-ms-fill-upper {
  width: 100%;
  height: 1vw;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #242229;
  border-radius: 4px;
  border: none; }
  @media (max-width: 1000px) {
    .range-selection__input::-ms-fill-upper {
      height: 10px; } }

.range-selection__input::-ms-fill-lower {
  width: 100%;
  height: 1vw;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #242229;
  border-radius: 4px;
  border: none; }
  @media (max-width: 1000px) {
    .range-selection__input::-ms-fill-lower {
      height: 10px; } }

.range-selection__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.6vw;
  width: 1vw;
  min-width: 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: crimson;
  cursor: pointer;
  margin-top: -0.3vw;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  @media (max-width: 1000px) {
    .range-selection__input::-webkit-slider-thumb {
      height: 16px;
      margin-top: -3px; } }

.range-selection__input::-moz-range-thumb {
  border: none;
  height: 1.6vw;
  width: 1vw;
  min-width: 10px;
  -moz-border-radius: 4px;
       border-radius: 4px;
  background: crimson;
  cursor: pointer;
  margin-top: -0.3vw;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  -moz-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
       box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  @media (max-width: 1000px) {
    .range-selection__input::-moz-range-thumb {
      height: 16px;
      margin-top: -3px; } }

.range-selection__input::-ms-thumb {
  border: none;
  height: 1.6vw;
  width: 1vw;
  min-width: 10px;
  border-radius: 4px;
  background: crimson;
  cursor: pointer;
  margin-top: -0.3vw;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  @media (max-width: 1000px) {
    .range-selection__input::-ms-thumb {
      height: 16px;
      margin-top: -3px; } }

#app .control-panel-button--type-reset {
  line-height: 1.5em; }
  #app .control-panel-button--type-reset:hover {
    -webkit-filter: saturate(1.7);
            filter: saturate(1.7); }
  #app .control-panel-button--type-reset:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#ec1515), to(#8a240a));
    background: -webkit-linear-gradient(#ec1515, #8a240a);
    background: -moz-linear-gradient(#ec1515, #8a240a);
    background: -o-linear-gradient(#ec1515, #8a240a);
    background: linear-gradient(#ec1515, #8a240a); }

#app .control-panel-button--type-submit {
  margin: 20px auto;
  line-height: 1.5em; }
  #app .control-panel-button--type-submit:hover {
    -webkit-filter: saturate(1.7);
            filter: saturate(1.7); }
  #app .control-panel-button--type-submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#0fe00b), to(#054004));
    background: -webkit-linear-gradient(#0fe00b, #054004);
    background: -moz-linear-gradient(#0fe00b, #054004);
    background: -o-linear-gradient(#0fe00b, #054004);
    background: linear-gradient(#0fe00b, #054004); }

.control-panel-button__icon {
  width: 1em;
  vertical-align: middle;
  margin: 0 2px;
  min-width: 12px;
  fill: white;
  height: auto; }
  .control-panel-button__icon--bigger {
    width: 1.5em;
    vertical-align: middle;
    margin: 0 2px;
    min-width: 12px;
    fill: white;
    height: auto; }
  .control-panel-button__icon--arrow-down {
    vertical-align: middle;
    margin: 0 2px;
    min-width: 12px;
    fill: white;
    height: auto;
    width: 15%; }
  .control-panel-button__icon--reset {
    vertical-align: middle;
    margin: 0 2px;
    min-width: 12px;
    fill: white;
    height: auto;
    width: 1.5em; }

.aditional-control-panel {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  top: -webkit-calc(35px + 1vw);
  top: -moz-calc(35px + 1vw);
  top: calc(35px + 1vw);
  padding: 4px 0;
  -webkit-box-shadow: 1px 1px 1px 1px black;
     -moz-box-shadow: 1px 1px 1px 1px black;
          box-shadow: 1px 1px 1px 1px black;
  z-index: 2;
  border: 1px solid black;
  -webkit-border-radius: 5px 0 0 5px;
     -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  overflow: hidden;
  background: #151314;
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  transition: opacity 1.5s; }
  .aditional-control-panel--hidden {
    opacity: 0; }
  .aditional-control-panel__description {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .aditional-control-panel__button--green {
    border: none;
    outline: none;
    display: block;
    padding: 2px;
    text-align: center;
    margin: 0 2px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.1vw;
    font-family: "Exo 2", sans-serif;
    line-height: 1.5em;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#0fe00b), to(#054004));
    background: -webkit-linear-gradient(#0fe00b, #054004);
    background: -moz-linear-gradient(#0fe00b, #054004);
    background: -o-linear-gradient(#0fe00b, #054004);
    background: linear-gradient(#0fe00b, #054004); }
    @media (max-width: 1200px) {
      .aditional-control-panel__button--green {
        font-size: 13px; } }
    .aditional-control-panel__button--green:hover {
      -webkit-filter: saturate(1.7);
              filter: saturate(1.7); }
  .aditional-control-panel__button--red {
    border: none;
    outline: none;
    display: block;
    padding: 2px;
    text-align: center;
    margin: 0 2px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.1vw;
    font-family: "Exo 2", sans-serif;
    line-height: 1.5em;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec1515), to(#8a240a));
    background: -webkit-linear-gradient(#ec1515, #8a240a);
    background: -moz-linear-gradient(#ec1515, #8a240a);
    background: -o-linear-gradient(#ec1515, #8a240a);
    background: linear-gradient(#ec1515, #8a240a); }
    @media (max-width: 1200px) {
      .aditional-control-panel__button--red {
        font-size: 13px; } }
    .aditional-control-panel__button--red:hover {
      -webkit-filter: saturate(1.7);
              filter: saturate(1.7); }
  .aditional-control-panel__button--up {
    border: none;
    outline: none;
    display: block;
    padding: 2px;
    text-align: center;
    margin: 0 2px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.1vw;
    font-family: "Exo 2", sans-serif;
    line-height: 1.5em;
    color: white;
    background: #1d42d2; }
    @media (max-width: 1200px) {
      .aditional-control-panel__button--up {
        font-size: 13px; } }
    .aditional-control-panel__button--up:hover {
      -webkit-filter: saturate(1.7);
              filter: saturate(1.7); }
  .aditional-control-panel__button--light-red {
    border: none;
    outline: none;
    display: block;
    padding: 2px;
    text-align: center;
    margin: 0 2px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.1vw;
    font-family: "Exo 2", sans-serif;
    line-height: 1.5em;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#b31f45), to(#da1047));
    background: -webkit-linear-gradient(left, #b31f45, #da1047);
    background: -moz-linear-gradient(left, #b31f45, #da1047);
    background: -o-linear-gradient(left, #b31f45, #da1047);
    background: linear-gradient(to right, #b31f45, #da1047); }
    @media (max-width: 1200px) {
      .aditional-control-panel__button--light-red {
        font-size: 13px; } }
    .aditional-control-panel__button--light-red:hover {
      -webkit-filter: saturate(1.7);
              filter: saturate(1.7); }

