@charset "UTF-8";
* {
  box-sizing: border-box;
}

.user-message {
  width: 100%;
  display: block;
  border-radius: 8px;
  background: #242229;
  color: white;
  border: 2px solid transparent;
  resize: none;
  color: white;
  font-size: 17px;
  font-family: "Exo 2", sans-serif;
}
.user-message:focus {
  outline: none;
  border: 2px solid #6e0d1a;
}

.empire-footer {
  width: 100%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#3b3a38));
  background: linear-gradient(to right, #000, #3b3a38);
  font-family: Aldrich;
  font-size: 22px;
  color: white;
  text-align: center;
}

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px;
}
.contact-us-link:hover {
  text-decoration: underline;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  background: #0d0c0d;
  -webkit-box-align: stretch;
          align-items: stretch;
}

.navigation-element {
  -webkit-transition: background 2s;
  transition: background 2s;
}
.navigation-element:hover {
  background: red;
}

.navigation-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  line-height: 100%;
  padding: 6px;
  font-family: "Oxanium";
  font-size: 1.5vw;
}

.main-page-navigation {
  box-shadow: 2px 2px 2px 2px black;
  position: relative;
  z-index: 6;
}

@media (min-width: 620px) and (max-width: 1000px) {
  .navigation-link {
    font-size: 2.2vw;
  }
}
@media (max-width: 619px) {
  .navigation-link {
    font-size: 4vw;
  }
}
.error-information-container {
  background: #96080f;
}

.information-container {
  margin: 25px auto;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  border-radius: 6px;
  color: white;
  display: table;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  max-width: 75%;
  min-width: 310px;
}

.error-list {
  text-align: left;
  margin: 5px auto;
  padding-left: 25px;
  list-style-type: none;
  padding: 0;
}

.error-list-element:before {
  content: " \25CF";
  margin: 0 5px;
}

.success-information {
  margin: 25px auto;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  border-radius: 6px;
  color: white;
  display: table;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  background: #09960b;
}

.icon-correct-value {
  background: green;
}

.confirmation-icon-bird {
  width: 8px;
  height: 13px;
  position: relative;
  left: 35%;
  top: 15%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-correct-value-visible {
  display: block;
}

.icon-correct-value-invisible {
  display: none;
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-incorrect-value {
  background: red;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

.icon-incorrect-value-visible {
  display: -webkit-box;
  display: flex;
}

.icon-incorrect-value-invisible {
  display: none;
}

.white-bar {
  width: 80%;
  height: 30%;
  background: white;
}

.icon-container {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  position: absolute;
}

.single-line-text-input-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
  background: #242229;
  padding: 3px 10px;
  border-radius: 8px;
  color: white;
  width: 95%;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  margin: 6px auto;
  border: 2px solid transparent;
  position: relative;
}

.text-input-description {
  white-space: nowrap;
}

.single-line-text-input {
  background: #242229;
  border: none;
  border-bottom: 1px solid transparent;
  height: 24px;
  color: #fff;
  width: 1%;
  -webkit-box-flex: 10;
          flex-grow: 10;
  padding-left: 4px;
  font: inherit;
}

.single-line-text-input:focus {
  outline: none;
  border-bottom: 1px solid #86838f;
}

.input-with-error {
  border: 2px solid red;
}

.input-correct-value {
  border: 2px solid green;
}

.submit-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#0fe00b), to(#054004));
  background: linear-gradient(#0fe00b, #054004);
  padding: 5px;
  color: white;
  display: block;
  width: 95%;
  margin: 7px auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  font-size: 19px;
  font-weight: bold;
}

.single-line-text-input-label {
  width: 95%;
}

.icon-wraper {
  position: relative;
  width: 95%;
  margin: 15px auto;
}

.error-active {
  display: -webkit-box;
  display: flex;
}

.full-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.full-body background {
  size: cover;
  attachment: fixed;
  image: url("../images/decoration/contact/background.jpg");
}

.contact-form {
  max-width: 500px;
  width: 95%;
  background: rgba(0, 0, 0, 0.92);
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px;
  margin: 40px auto 100px;
  border: 1px solid transparent;
}

.form-description {
  color: white;
  padding: 4px;
  font-size: 15px;
  font-family: "Exo 2", sans-serif;
}

.message-label {
  display: block;
  text-align: center;
  color: white;
  font-size: 19px;
  font-family: "Exo 2", sans-serif;
}

.input-with-error {
  border: 2px solid red;
}

.error-active {
  display: -webkit-box;
  display: flex;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .full-body {
    background-image: url("../images/decoration/contact/background.jpg");
  }
}