.empire-footer {
  width: 100%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#3b3a38));
  background: linear-gradient(to right, #000, #3b3a38);
  font-family: Aldrich;
  font-size: 22px;
  color: white;
  text-align: center;
}

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px;
}

.contact-us-link:hover {
  text-decoration: underline;
}

.empire-footer {
  width: 100%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#3b3a38));
  background: linear-gradient(to right, #000, #3b3a38);
  font-family: Aldrich;
  font-size: 22px;
  color: white;
  text-align: center;
}

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px;
}

.contact-us-link:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.app-container {
  min-height: calc(100vh - 40px);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.full-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.success-information {
  margin: 25px auto;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  border-radius: 6px;
  color: white;
  display: table;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  background: #09960b;
}

.error-information-container {
  background: #96080f;
}

.information-container {
  margin: 45px auto;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  border-radius: 6px;
  color: white;
  display: table;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  max-width: 75%;
  min-width: 310px;
}

.error-list {
  text-align: left;
  margin: 5px auto;
  padding-left: 25px;
  list-style-type: none;
  padding: 0;
}

.error-list-element:before {
  content: ' \25CF   ';
  margin: 0 5px;
}
