* {
  box-sizing: border-box;
}

.empire-footer {
  width: 100%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#3b3a38));
  background: linear-gradient(to right, #000, #3b3a38);
  font-family: Aldrich;
  font-size: 22px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px;
}

.contact-us-link:hover {
  text-decoration: underline;
}

.full-body {
  margin: 0;
  padding: 0;
}
