* {
  box-sizing: border-box;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  background: #0d0c0d;
  -webkit-box-align: stretch;
          align-items: stretch;
  position: relative;
  z-index: 3;
  box-shadow: 2px 2px 2px 2px black;
}

.register-selection {
  margin-left: auto;
}

.navigation-element {
  -webkit-transition: background 2s;
  transition: background 2s;
  cursor: pointer;
  color: white;
  display: inline-block;
  line-height: 100%;
  padding: 6px;
  font-family: 'Oxanium';
  font-size: 1.5vw;
}

.navigation-element:hover {
  background: #2d2d30;
}

.main-page-navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.sub-menu-list {
  position: relative;
  overflow: hidden;
  display: block;
  top: 1px;
  max-height: 0;
  -webkit-transition: max-height 1.5s;
  transition: max-height 1.5s;
  padding: 0;
  list-style-type: none;
  margin: 0;
  font-family: 'Oxanium';
  font-size: 1.5vw;
  color: white;
  width: 90%;
  z-index: 1;
  left: 5%;
  border-radius: 0 0 8px 8px;
}

.hidden-porn-sub-menu {
  max-height: 0;
  box-shadow: none;
}

.visible-porn-sub-menu {
  max-height: 1500px;
  box-shadow: 2px 2px 4px 3px black;
}

.sub-menu-list-element {
  background: #202120;
  background: -webkit-gradient(linear, left top, right top, from(#0a0a0a), to(#2e2e2d));
  background: linear-gradient(to right, #0a0a0a, #2e2e2d);
  border-bottom: 1px solid black;
  cursor: pointer;
}

.sub-menu-list-nested-level-two {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  -webkit-transition: max-height 1.5s;
  transition: max-height 1.5s;
}

.sub-menu-list-element-intendation-second-level {
  padding: 5px 0 5px 6vw;
  border-top: 1px solid black;
  background: -webkit-gradient(linear, left top, right top, from(#2b2a2a), to(#4c4c52));
  background: linear-gradient(to right, #2b2a2a, #4c4c52);
}

.sub-menu-list-element-intendation-second-level:hover {
  background: black;
}

.visible-movies-sub-menu {
  max-height: 500px;
}

.hidden-movies-sub-menu {
  max-height: 0;
}

.sub-menu-level-one-item {
  padding: 5px 0 5px 4vw;
}

.sub-menu-level-one-item:hover {
  background: black;
}

.sum-menu-list-element:last-child {
  border-radius: 0 0 8px 8px;
}

.navbar-icon {
  margin: 0 5px;
  color: #eb091c;
}

.navbar-icon-sub-menu {
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
}

.sub-menu-level-one-item:hover .navbar-icon-sub-menu {
  color: #e9ed05;
}

@media (min-width: 620px) and (max-width: 1000px) {
  .navigation-element {
    font-size: 2.2vw;
  }
}

@media (max-width: 619px) {
  .navigation-element {
    font-size: 3.9vw;
  }
}

.empire-footer {
  width: 100%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#3b3a38));
  background: linear-gradient(to right, #000, #3b3a38);
  font-family: Aldrich;
  font-size: 22px;
  color: white;
  text-align: center;
}

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px;
}

.contact-us-link:hover {
  text-decoration: underline;
}

.icon-correct-value {
  background: green;
}

.confirmation-icon-bird {
  width: 30%;
  height: 50%;
  position: relative;
  left: 35%;
  top: 15%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-correct-value-visible {
  display: block;
}

.icon-correct-value-invisible {
  display: none;
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-incorrect-value {
  background: red;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

.icon-incorrect-value-visible {
  display: -webkit-box;
  display: flex;
}

.icon-incorrect-value-invisible {
  display: none;
}

.white-bar {
  width: 80%;
  height: 30%;
  background: white;
}

.full-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  border: 0.1px solid transparent;
  background-attachment: fixed;
}

.user-notification {
  text-align: center;
  margin: calc(50vh - 100px) auto;
  font-size: 20px;
  font-family: "Exo 2";
  width: 95%;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px black;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.8);
  max-width: 65%;
  min-width: 300px;
}

.notification-line {
  padding: 20px 5px;
}

.icon-correct-value {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.leave-confirmation-link {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.leave-confirmation-link:hover {
  text-decoration: underline;
}

.user-email {
  font-weight: bold;
}

@media (min-width: 1025px) and (max-width: 1336px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1336-min.jpg");
  }
}

@media (min-width: 1337px) and (max-width: 1600px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1600-min.jpg");
  }
}

@media (min-width: 700px) and (max-width: 1025px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1025-min.jpg");
  }
}

@media (max-width: 699px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background000-min.jpg");
  }
}

@media (max-width: 1050px) {
  .user-information {
    font-size: 18px;
  }
}
