.empire-footer {
  width: 100%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#3b3a38));
  background: linear-gradient(to right, #000, #3b3a38);
  font-family: Aldrich;
  font-size: 22px;
  color: white;
  text-align: center;
}

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px;
}

.contact-us-link:hover {
  text-decoration: underline;
}

.icon-correct-value {
  background: green;
}

.confirmation-icon-bird {
  width: 30%;
  height: 50%;
  position: relative;
  left: 35%;
  top: 15%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-correct-value-visible {
  display: block;
}

.icon-correct-value-invisible {
  display: none;
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-incorrect-value {
  background: red;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

.icon-incorrect-value-visible {
  display: -webkit-box;
  display: flex;
}

.icon-incorrect-value-invisible {
  display: none;
}

.white-bar {
  width: 80%;
  height: 30%;
  background: white;
}

* {
  box-sizing: border-box;
}

.app-container {
  min-height: calc(100vh - 40px);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.full-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.user-notification {
  text-align: center;
  margin: calc(50vh - 100px) auto;
  font-size: 20px;
  font-family: "Exo 2";
  width: 95%;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px black;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.8);
  max-width: 65%;
  min-width: 300px;
}

.notification-line {
  padding: 20px 5px;
}

.icon-correct-value {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.leave-confirmation-link {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.leave-confirmation-link:hover {
  text-decoration: underline;
}

.user-email {
  font-weight: bold;
}

@media (min-width: 1025px) and (max-width: 1336px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1336-min.jpg");
  }
}

@media (min-width: 1337px) and (max-width: 1600px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1600-min.jpg");
  }
}

@media (min-width: 700px) and (max-width: 1025px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1025-min.jpg");
  }
}

@media (max-width: 699px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background000-min.jpg");
  }
}

@media (max-width: 1050px) {
  .user-information {
    font-size: 18px;
  }
}
