.submit-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#0fe00b), to(#054004));
  background: linear-gradient(#0fe00b, #054004);
  padding: 5px;
  color: white;
  display: block;
  width: 95%;
  margin: 7px auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  font-size: 19px;
  font-weight: bold;
}

.submit-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#0fe00b), to(#054004));
  background: linear-gradient(#0fe00b, #054004);
  padding: 5px;
  color: white;
  display: block;
  width: 95%;
  margin: 7px auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  font-size: 19px;
  font-weight: bold;
}

.icon-correct-value {
  background: green;
}

.confirmation-icon-bird {
  width: 30%;
  height: 50%;
  position: relative;
  left: 35%;
  top: 15%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-correct-value-visible {
  display: block;
}

.icon-correct-value-invisible {
  display: none;
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-incorrect-value {
  background: red;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

.icon-incorrect-value-visible {
  display: -webkit-box;
  display: flex;
}

.icon-incorrect-value-invisible {
  display: none;
}

.white-bar {
  width: 80%;
  height: 30%;
  background: white;
}

.icon-container {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  position: absolute;
}

.single-line-text-input-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
  background: #242229;
  padding: 3px 10px;
  border-radius: 8px;
  color: white;
  width: 95%;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  margin: 6px auto;
  border: 2px solid transparent;
  position: relative;
}

.text-input-description {
  white-space: nowrap;
}

.single-line-text-input {
  background: #242229;
  border: none;
  border-bottom: 1px solid transparent;
  height: 24px;
  color: #fff;
  width: 1%;
  -webkit-box-flex: 10;
          flex-grow: 10;
  padding-left: 4px;
  font: inherit;
}

.single-line-text-input:focus {
  outline: none;
  border-bottom: 1px solid #86838f;
}

.input-with-error {
  border: 2px solid red;
}

.input-correct-value {
  border: 2px solid green;
}

.error-information-container {
  background: #96080f;
}

.information-container {
  margin: 45px auto;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  border-radius: 6px;
  color: white;
  display: table;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  max-width: 75%;
  min-width: 310px;
}

.error-list {
  text-align: left;
  margin: 5px auto;
  padding-left: 25px;
  list-style-type: none;
  padding: 0;
}

.error-list-element:before {
  content: ' \25CF   ';
  margin: 0 5px;
}

.icon-correct-value {
  background: green;
}

.confirmation-icon-bird {
  width: 30%;
  height: 50%;
  position: relative;
  left: 35%;
  top: 15%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-correct-value-visible {
  display: block;
}

.icon-correct-value-invisible {
  display: none;
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
}

.icon-incorrect-value {
  background: red;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

.icon-incorrect-value-visible {
  display: -webkit-box;
  display: flex;
}

.icon-incorrect-value-invisible {
  display: none;
}

.white-bar {
  width: 80%;
  height: 30%;
  background: white;
}

.icon-container {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  position: absolute;
}

.error-message-box {
  display: block;
  font-size: 13px;
  font-family: "Aldrich", sans-serif;
  color: red;
  padding: 2px 2px 3px;
  text-align: center;
  height: calc(1em + 6px);
}

.success-information {
  margin: 25px auto;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  border-radius: 6px;
  color: white;
  display: table;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  background: #09960b;
}

.nice-checkbox {
  opacity: 0;
}

.checkbox-description {
  position: relative;
  padding: 0 8px;
}

.checkbox-description:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  left: -22px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: white;
  border-radius: 3px;
  z-index: 1;
}

.checkbox-description:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  left: -17px;
  width: 4px;
  height: 11px;
  cursor: pointer;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}

.checkbox-container {
  display: table;
}

.nice-checkbox:hover + .checkbox-description:before {
  background: #e80e53;
}

.nice-checkbox:checked + .checkbox-description:before {
  background: #e80e53;
}

.nice-checkbox:checked + .checkbox-description:after {
  opacity: 1;
}

.empire-footer {
  width: 100%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#3b3a38));
  background: linear-gradient(to right, #000, #3b3a38);
  font-family: Aldrich;
  font-size: 22px;
  color: white;
  text-align: center;
}

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px;
}

.contact-us-link:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.app-container {
  min-height: calc(100vh - 40px);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.full-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.password-reset-form {
  width: 50%;
  min-width: 300px;
  margin: 100px auto;
  box-shadow: 3px 3px 3px 3px black;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.9);
  padding: 8px 0;
}

.user-information {
  color: white;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 1.3vw;
  padding: 0 4px;
}

.checkbox-description {
  color: white;
  font-size: 17px;
  font-family: "Exo 2", sans-serif;
}

.checkbox-container {
  margin: 0 auto;
  width: 90%;
}

.user-notification {
  text-align: center;
  margin: calc(50vh - 100px) auto;
  font-size: 20px;
  font-family: Oxanium;
  width: 95%;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px black;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.8);
}

.notification-line {
  padding: 20px 5px;
}

.icon-correct-value {
  width: 55px;
  height: 55px;
}

@media (min-width: 1025px) and (max-width: 1336px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1336-min.jpg");
  }
}

@media (min-width: 1337px) and (max-width: 1600px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1600-min.jpg");
  }
}

@media (min-width: 700px) and (max-width: 1025px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background1025-min.jpg");
  }
}

@media (max-width: 699px) {
  .full-body {
    background-image: url("../images/decoration/password_reset/compressed/password_reset_form_background000-min.jpg");
  }
}

@media (max-width: 1050px) {
  .user-information {
    font-size: 18px;
  }
}
