.empire-footer {
  width: 100%;
  padding: 10px;
  background: black;
  font-size: 2vw;
  font-family: Aldrich, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  z-index: 4; }
  @media (max-width: 1200px) {
    .empire-footer {
      font-size: 30px; } }

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px; }
  .contact-us-link:hover {
    text-decoration: underline; }

.footer-icon {
  fill: #eb091c;
  width: 1em;
  height: auto; }

.icon-error-close {
  display: inline-block;
  background: white;
  width: 65%;
  height: 65%;
  position: absolute;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); }

.icon-error-cross-container {
  position: relative;
  background: #ef0244;
  border-radius: 50%;
  border: 3px solid #ef0244;
  font-size: 0;
  min-width: 30px;
  min-height: 30px;
  width: 2.3vw;
  height: 2.3vw;
  display: inline-block; }

.error-information-container {
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 3px black;
  border: 2px solid #ef0244;
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  color: white;
  display: table;
  position: relative;
  max-width: 75%;
  min-width: 310px;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .error-information-container {
      font-size: 16px; } }

.error-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.9);
  padding: 7px; }

.information-container {
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  border-radius: 6px;
  color: white;
  display: table;
  border: 1px solid black;
  position: relative;
  max-width: 75%;
  min-width: 310px; }

.error-list {
  text-align: left;
  margin: 0;
  padding-left: 25px;
  list-style-type: none;
  padding: 0;
  background: #ef0244eb; }

.error-list-element {
  padding: 6px; }

.success-information, .information-container {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .success-information, .information-container {
      font-size: 16px; } }

.error-list-element:before {
  content: ' \25CF ';
  margin: 0 5px; }

* {
  box-sizing: border-box; }

.full-body {
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.aplication-container {
  min-height: calc(100vh - 2*10px - 30px - 35px - 1.5vw);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: calc(35px + 1.5vw); }
  @media (min-width: 1200px) {
    .aplication-container {
      min-height: calc(100vh - 2*10px - 2vw - 35px - 1.5vw); } }

.neutral-link {
  color: inherit;
  text-decoration: none;
  font: inherit; }
  .neutral-link:hover {
    text-decoration: underline; }

.full-body {
  background: #0c0c0c; }

.pornstar-profile-container {
  display: block;
  min-width: 300px;
  background: #0e0e0e;
  border-radius: 10px 0 10px 10px;
  overflow: hidden; }

.pornstar-profile-image {
  width: 240px;
  height: 360px;
  border-radius: 10px;
  border: 2px solid silver;
  box-shadow: 2px 2px 2px 2px black;
  margin: 10px; }

.pornstar-personal-data-container {
  display: flex;
  background: black;
  border-radius: 10px 0 0 10px; }
  @media (max-width: 750px) {
    .pornstar-personal-data-container {
      flex-wrap: wrap;
      justify-content: center; } }

.pornstar-personal-data {
  flex-grow: 100;
  min-width: 150px; }

.pornstar-scrollable-content {
  max-height: 360px;
  overflow-y: auto; }

.pornstar-scrollable-content::-webkit-scrollbar {
  width: 1.1vw; }
  @media (max-width: 1200px) {
    .pornstar-scrollable-content::-webkit-scrollbar {
      width: 15px; } }

.pornstar-scrollable-content::-webkit-scrollbar-track {
  background: #131212; }

.pornstar-scrollable-content::-webkit-scrollbar-thumb {
  background: linear-gradient(#bdb7b5, #585454) #131212;
  border-radius: 0 0 5px 5px; }

.pornstar-scrollable-content {
  scrollbar-color: linear-gradient(#bdb7b5, #585454) #131212;
  scrollbar-width: 1.1vw; }
  @media (max-width: 1200px) {
    .pornstar-scrollable-content {
      scrollbar-width: 15px; } }

.pornstar-nickname-header {
  color: white;
  font-size: 2vw;
  font-family: Aldrich, sans-serif;
  text-align: center;
  margin: 0;
  padding: 7px 0;
  background: black; }
  @media (max-width: 1200px) {
    .pornstar-nickname-header {
      font-size: 23px; } }

.pornstar-data-list-element {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  display: inline; }
  @media (max-width: 1200px) {
    .pornstar-data-list-element {
      font-size: 16px; } }

.pornstar-basic-data-list {
  margin: 0;
  padding: 5px; }

.pornstar-data-key {
  color: #4ddf0b;
  font-weight: bold; }

.pornstar-data-value {
  color: white; }

.pornstar-data-key-value-pair {
  padding: 1px 0; }

.pornstar-current-age {
  margin: 0 5px; }

.pornstar-data-icon {
  color: #ef1854; }

.pornstar-description {
  padding: 5px;
  margin: 0;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  color: white; }
  @media (max-width: 1200px) {
    .pornstar-description {
      font-size: 16px; } }

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: space-evenly;
  grid-column-gap: 8px;
  grid-row-gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none; }

@media (max-width: 870px) {
  .movies-container {
    grid-template-columns: repeat(auto-fit, 232px); } }

.authenticated-user-preview {
  display: inline-flex;
  align-items: center;
  padding: 4px; }

.authenticated-user-nickname {
  font-size: 1.5vw;
  font-family: "Exo 2", sans-serif;
  color: white; }
  @media (max-width: 1200px) {
    .authenticated-user-nickname {
      font-size: 20px; } }

.authenticated-user-avatar {
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  margin: 0 5px;
  width: 2vw;
  height: 2vw;
  border-radius: 6px; }

.authenticated-user-undefined-avatar {
  font-size: 1.6vw;
  font-family: "Exo 2", sans-serif;
  color: #eb091c;
  background: black;
  border-radius: 50%;
  padding: 7px;
  margin: 0 5px; }
  @media (max-width: 1200px) {
    .authenticated-user-undefined-avatar {
      font-size: 14px; } }

.hide-content-show-on-demand-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 2s; }

.opened-show-on-demand-container {
  max-height: 1000px; }

.authenticated-users-only-icon {
  width: 2em;
  height: auto;
  fill: red;
  display: block;
  margin: 10px auto 0; }

.pornstar-profile-tabpanel {
  list-style-type: none;
  margin: 0;
  padding: 9px 0 0 12px;
  display: flex;
  flex-wrap: nowrap;
  background: #3e3e3e; }

.tab-icon {
  width: 1em;
  height: auto;
  fill: #df0f67;
  vertical-align: middle; }

.pornstar-profile-tab {
  font-size: 1.4vw;
  font-family: Aldrich, sans-serif;
  padding: 1vw;
  color: white;
  text-align: center;
  border-radius: 7px 7px 0 0;
  cursor: pointer;
  background: black; }
  @media (max-width: 1200px) {
    .pornstar-profile-tab {
      font-size: 19px; } }

.movies-container {
  margin-top: 15px; }

.active-tab {
  background: #0e0e0e; }

.pornstar-votes-data {
  font-size: 1.8vw;
  font-family: "Exo 2", sans-serif;
  color: white;
  text-align: center; }
  @media (max-width: 1200px) {
    .pornstar-votes-data {
      font-size: 25px; } }

.pornstar-current-rating {
  padding: 5px;
  text-align: center; }

.rate-container {
  text-align: center;
  padding: 4px;
  background: #0e0e0e; }

.no-data-info {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  color: white;
  padding: 5px; }
  @media (max-width: 1200px) {
    .no-data-info {
      font-size: 16px; } }

.unauthenticated-users-info {
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  font-family: "Exo 2", sans-serif;
  background: #0e0e0e; }
  @media (max-width: 1200px) {
    .unauthenticated-users-info {
      font-size: 21px; } }

.voter-icon {
  color: white;
  margin: 0 5px; }

.user-vote-element {
  min-width: 100px; }

.user-vote-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.voting-icon {
  fill: #31db18;
  width: 5em;
  margin: 0 auto;
  height: auto;
  display: block;
  padding: 6px; }

.voting-all {
  text-align: center;
  padding: 5px; }

#app .textarea-combo-message {
  background: #060606; }

#app .accept-button {
  width: 25%;
  margin: 10px auto;
  min-width: 270px; }

.comment-container {
  position: relative; }

.button-container {
  padding: 4px; }

.comments-section {
  min-height: 250px;
  position: relative; }

.comment-icon {
  margin: 0 5px; }

.comments-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.amount-of-comments-info {
  text-align: center;
  color: white;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .amount-of-comments-info {
      font-size: 16px; } }

.pagination-link {
  border: none;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
  cursor: pointer;
  outline: none; }
  @media (max-width: 1200px) {
    .pagination-link {
      font-size: 16px; } }

.aditional-link {
  background: linear-gradient(to bottom, #1d1c1c, #0e0e0e);
  border: none;
  cursor: pointer;
  outline: none; }

.aditional-link-button {
  background: linear-gradient(to bottom, #1d1c1c, #0e0e0e);
  border: none;
  outline: none;
  color: white;
  font-size: 1.3vw;
  font-family: "Exo 2", sans-serif;
  cursor: pointer; }
  @media (max-width: 1200px) {
    .aditional-link-button {
      font-size: 13px; } }

