.empire-footer {
  width: 100%;
  padding: 10px;
  background: black;
  font-size: 2vw;
  font-family: Aldrich, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  z-index: 4; }
  @media (max-width: 1200px) {
    .empire-footer {
      font-size: 30px; } }

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px; }
  .contact-us-link:hover {
    text-decoration: underline; }

.footer-icon {
  fill: #eb091c;
  width: 1em;
  height: auto;
  vertical-align: middle; }

.icon-error-close {
  display: inline-block;
  background: white;
  width: 65%;
  height: 65%;
  position: absolute;
  font-size: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); }

.icon-error-cross-container {
  position: relative;
  background: #ef0244;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #ef0244;
  font-size: 0;
  min-width: 30px;
  min-height: 30px;
  width: 2.3vw;
  height: 2.3vw;
  display: inline-block; }

.error-information-container {
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px 3px black;
     -moz-box-shadow: 2px 2px 4px 3px black;
          box-shadow: 2px 2px 4px 3px black;
  border: 2px solid #ef0244;
  margin: -webkit-calc(25px + 1.6vw) auto;
  margin: -moz-calc(25px + 1.6vw) auto;
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  color: white;
  display: table;
  position: relative;
  max-width: 75%;
  min-width: 310px;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .error-information-container {
      font-size: 16px; } }

.error-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.9);
  padding: 7px; }

.information-container {
  margin: -webkit-calc(25px + 1.6vw) auto;
  margin: -moz-calc(25px + 1.6vw) auto;
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  color: white;
  display: table;
  border: 1px solid black;
  position: relative;
  max-width: 75%;
  min-width: 310px; }

.error-list {
  text-align: left;
  margin: 0;
  padding-left: 25px;
  list-style-type: none;
  padding: 0;
  background: #ef0244eb; }

.error-list-element {
  padding: 6px; }

.success-information, .information-container {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .success-information, .information-container {
      font-size: 16px; } }

.error-list-element:before {
  content: ' \25CF ';
  margin: 0 5px; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.full-body {
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
  -moz-background-size: cover;
       background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.aplication-container {
  min-height: -webkit-calc(100vh - 2*10px - 30px - 35px - 1.5vw);
  min-height: -moz-calc(100vh - 2*10px - 30px - 35px - 1.5vw);
  min-height: calc(100vh - 2*10px - 30px - 35px - 1.5vw);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: -webkit-calc(35px + 1.5vw);
  margin-top: -moz-calc(35px + 1.5vw);
  margin-top: calc(35px + 1.5vw); }
  @media (min-width: 1200px) {
    .aplication-container {
      min-height: -webkit-calc(100vh - 2*10px - 2vw - 35px - 1.5vw);
      min-height: -moz-calc(100vh - 2*10px - 2vw - 35px - 1.5vw);
      min-height: calc(100vh - 2*10px - 2vw - 35px - 1.5vw); } }

.standard-background {
  background: #0e0e0e; }

.prostitution-notice-background {
  background: url("/images/decoration/prostitution/add_notice-min.jpeg");
  -moz-background-size: cover;
       background-size: cover;
  background-attachment: fixed; }

.offer-editor {
  margin: 0 auto; }

