.empire-footer {
  width: 100%;
  padding: 10px;
  background: black;
  font-size: 2vw;
  font-family: Aldrich, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  z-index: 4; }
  @media (max-width: 1200px) {
    .empire-footer {
      font-size: 30px; } }

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px; }
  .contact-us-link:hover {
    text-decoration: underline; }

.footer-icon {
  fill: #eb091c;
  width: 1em;
  height: auto;
  vertical-align: middle; }

.icon-error-close {
  display: inline-block;
  background: white;
  width: 65%;
  height: 65%;
  position: absolute;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); }

.icon-error-cross-container {
  position: relative;
  background: #ef0244;
  border-radius: 50%;
  border: 3px solid #ef0244;
  font-size: 0;
  min-width: 30px;
  min-height: 30px;
  width: 2.3vw;
  height: 2.3vw;
  display: inline-block; }

.error-information-container {
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 3px black;
  border: 2px solid #ef0244;
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  color: white;
  display: table;
  position: relative;
  max-width: 75%;
  min-width: 310px;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .error-information-container {
      font-size: 16px; } }

.error-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.9);
  padding: 7px; }

.information-container {
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  border-radius: 6px;
  color: white;
  display: table;
  border: 1px solid black;
  position: relative;
  max-width: 75%;
  min-width: 310px; }

.error-list {
  text-align: left;
  margin: 0;
  padding-left: 25px;
  list-style-type: none;
  padding: 0;
  background: #ef0244eb; }

.error-list-element {
  padding: 6px; }

.success-information, .information-container {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .success-information, .information-container {
      font-size: 16px; } }

.error-list-element:before {
  content: ' \25CF ';
  margin: 0 5px; }

* {
  box-sizing: border-box; }

.full-body {
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.aplication-container {
  min-height: calc(100vh - 2*10px - 30px - 35px - 1.5vw);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: calc(35px + 1.5vw); }
  @media (min-width: 1200px) {
    .aplication-container {
      min-height: calc(100vh - 2*10px - 2vw - 35px - 1.5vw); } }

.shadow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

.registration-information {
  display: none; }

.welcome-user {
  max-height: 250px;
  overflow-y: auto; }

.information-section {
  flex-grow: 10;
  font-family: "Exo 2", sans-serif;
  font-size: 1.2vw;
  color: white;
  padding: 7px;
  position: relative; }

.input-name {
  font-weight: bold;
  margin: 5px 0; }

.input-list {
  display: block;
  margin: 5px 0; }

.input-description {
  display: block;
  margin-left: 12px; }

.scroll-container {
  max-height: 420px;
  overflow-y: auto; }

@media (max-width: 1200px) {
  .information-section {
    font-size: 16px; } }

.register-background-image-1 {
  background-image: url("../../images/decoration/register/1.jpg"); }

.register-background-image-2 {
  background-image: url("../../images/decoration/register/2.jpg"); }

.register-background-image-3 {
  background-image: url("../../images/decoration/register/3.jpg"); }

.main-panel {
  width: 60%;
  margin: 20px auto 10px;
  font-size: 0;
  max-width: 800px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.92);
  box-shadow: 3px 3px 2px 2px;
  display: flex;
  flex-wrap: nowrap; }

.main-panel-without-top-margin {
  margin-top: 0; }

.main-panel-form {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; }

.register-panel {
  width: 41%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  position: relative;
  border-right: 2px solid black; }

.expect-bar-container {
  width: 60%; }

.registration-requirements {
  margin: 0;
  padding: 0; }

@media (max-width: 840px) {
  .main-panel {
    width: 95%; } }

@media (max-width: 529px) {
  .main-panel {
    flex-direction: column;
    min-width: 300px;
    max-width: 400px; }
  .register-panel {
    min-width: 0;
    width: 100%;
    border-bottom: 2px solid white; }
  .main-panel-form {
    border-right: none; }
  .welcome-user {
    max-height: none; } }

.information-section::-webkit-scrollbar {
  width: 1.1vw; }
  @media (max-width: 1200px) {
    .information-section::-webkit-scrollbar {
      width: 15px; } }

.information-section::-webkit-scrollbar-track {
  background: #131212; }

.information-section::-webkit-scrollbar-thumb {
  background: linear-gradient(#bdb7b5, #585454) #131212;
  border-radius: 0 0 5px 5px; }

.information-section {
  scrollbar-color: linear-gradient(#bdb7b5, #585454) #131212;
  scrollbar-width: 1.1vw; }
  @media (max-width: 1200px) {
    .information-section {
      scrollbar-width: 15px; } }

