.empire-footer {
  width: 100%;
  padding: 10px;
  background: black;
  font-size: 2vw;
  font-family: Aldrich, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 1200px) {
  .empire-footer {
    font-size: 30px;
  }
}

.contact-us-link {
  text-decoration: none;
  color: white;
  margin: 0 18px;
}

.contact-us-link:hover {
  text-decoration: underline;
}

.empire-icon {
  color: red;
}

.icon-error-close {
  display: inline-block;
  background: white;
  width: 65%;
  height: 65%;
  position: absolute;
  font-size: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.icon-error-cross-container {
  position: relative;
  background: #ef0244;
  border-radius: 50%;
  border: 3px solid #ef0244;
  font-size: 0;
  min-width: 30px;
  min-height: 30px;
  width: 2.3vw;
  height: 2.3vw;
  display: inline-block;
}

.icon-correct-value {
  background: green;
  display: inline-block;
}

.confirmation-icon-bird {
  width: 30%;
  height: 50%;
  position: relative;
  left: 35%;
  top: 15%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-container {
  border-radius: 50%;
  z-index: 2;
  width: 2.1vw;
  height: 2.1vw;
  min-width: 25px;
  min-height: 25px;
  font-size: 0;
}

.success-information {
  margin: calc(30px + 3vw) auto;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  border-radius: 6px;
  color: white;
  display: table;
  position: relative;
  box-shadow: 2px 2px 3px 2px black;
  overflow: hidden;
}

.icon-background {
  background: rgba(0, 0, 0, 0.9);
  padding: 7px;
}

.icon-confirmation-center {
  display: block;
  margin: 0 auto;
  width: 3vw;
  height: 3vw;
  min-width: 35px;
  min-height: 35px;
}

.confirmation-text {
  text-align: center;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#16d012), to(#021502));
  background: linear-gradient(#16d012, #021502);
}

.error-information-container {
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 3px black;
  border: 2px solid #ef0244;
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  color: white;
  display: table;
  position: relative;
  max-width: 75%;
  min-width: 310px;
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
}

@media (max-width: 1200px) {
  .error-information-container {
    font-size: 16px;
  }
}

.error-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.9);
  padding: 7px;
}

.information-container {
  margin: calc(25px + 1.6vw) auto;
  text-align: center;
  border-radius: 6px;
  color: white;
  display: table;
  border: 1px solid black;
  position: relative;
  max-width: 75%;
  min-width: 310px;
}

.error-list {
  text-align: left;
  margin: 0;
  padding-left: 25px;
  list-style-type: none;
  padding: 0;
  background: #ef0244eb;
}

.error-list-element {
  padding: 6px;
}

.success-information, .information-container {
  font-size: 1.2vw;
  font-family: "Exo 2", sans-serif;
}

@media (max-width: 1200px) {
  .success-information, .information-container {
    font-size: 16px;
  }
}

.error-list-element:before {
  content: ' \25CF   ';
  margin: 0 5px;
}

* {
  box-sizing: border-box;
}

.full-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.shadow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.registration-information {
  display: none;
}

.welcome-user {
  max-height: 250px;
  overflow-y: auto;
}

.information-section {
  -webkit-box-flex: 10;
          flex-grow: 10;
  font-family: "Exo 2", sans-serif;
  font-size: 1.2vw;
  color: white;
  padding: 7px;
  max-height: 370px;
  overflow-y: auto;
  position: relative;
}

.input-name {
  font-weight: bold;
  margin: 5px 0;
}

.input-list {
  display: block;
  margin: 5px 0;
}

.input-description {
  display: block;
  margin-left: 12px;
}

@media (max-width: 1200px) {
  .information-section {
    font-size: 16px;
  }
}

.register-background-image-1 {
  background-image: url("../../images/decoration/register/1.jpg");
}

.register-background-image-2 {
  background-image: url("../../images/decoration/register/2.jpg");
}

.register-background-image-3 {
  background-image: url("../../images/decoration/register/3.jpg");
}

.main-panel {
  width: 60%;
  margin: 100px auto 10px;
  font-size: 0;
  max-width: 800px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.92);
  box-shadow: 3px 3px 2px 2px;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}

.main-panel-without-top-margin {
  margin-top: 0;
}

.main-panel-form {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.register-panel {
  width: 41%;
  min-width: 275px;
  position: relative;
  border-right: 2px solid black;
}

.main-panel-label {
  display: block;
  text-align: center;
  padding: 4px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  color: white;
}

.main-panel-input {
  background: #302e2e;
  display: block;
  width: 95%;
  color: white;
  margin: 0 auto;
  border-radius: 4px;
  border: 2px solid #302e2e;
  outline: none;
  font-size: 18px;
  padding: 2px;
}

.main-panel-input:focus {
  border: 2px solid #078a07;
}

.expect-bar-container {
  width: 60%;
}

@media (max-width: 840px) {
  .main-panel {
    width: 95%;
    margin: 50px auto 10px;
  }
}

@media (max-width: 529px) {
  .main-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-width: 300px;
    max-width: 400px;
  }
  .register-panel {
    min-width: 0;
    width: 100%;
    border-bottom: 2px solid white;
  }
  .main-panel-form {
    border-right: none;
  }
  .welcome-user {
    max-height: none;
  }
}
