.icon-correct-value{
    background:green;
    display:inline-block;
 }
 
 .confirmation-icon-bird{
     width:30%;
     height:50%;
     position: relative;
     left: 35%;
     top: 15%;
     border-right:2px solid white;
     border-bottom:2px solid white;
     transform:rotate(45deg);
 }
 
 .icon-container{
     border-radius: 50%;
     z-index:2;
     width: 2.1vw;
     height: 2.1vw;
     min-width: 25px; 
     min-height: 25px;
     font-size: 0;
 }