.icon-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index:2;
}

.icon-incorrect-value
{
    background: red;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon-incorrect-value-visible
{
   display:flex;
}

.icon-incorrect-value-invisible
{
   display: none;
}

.white-bar
{
    width: 80%;
    height: 30%;
    background:white;
}

