
* 
{
	box-sizing: border-box;
}
 
@import '../components/footer';
@import '../components/main_page_navbar';
@import '../components/controls/nicecheckbox';
@import '../components/controls/single_line_labeled_text_input';
@import '../components/controls/described_select';
@import '../components/controls/date_picker_polish';
@import '../components/icons/correct_value_icon';
@import '../components/icons/incorrect_value_icon';
@import '../components/controls/submit_button';
@import '../components/error_list';
@import '../components/icons/fixed_information_icons';

.single-line-text-input-label{
	margin:0 auto;
}

@import '../error_messages';
@import 'information_sections';
@import 'main_page_background_images';


.checkbox-description
{
	color:white;
	font:{
		size:17px;
		family:"Exo 2", sans-serif;
	}
}

.checkbox-container
{
	margin: 7px auto;
}

.full-body
{
	margin:0;
	padding:0;
}

.mainpage-background 
{
	margin:0;
	padding:0;
	background-size:cover;
	background-position: center;
	min-height: 100vh;
	border: 0.1px solid transparent;
	position:relative;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
}

.main-panel
{
	width: 60%;
	margin: 100px 0 10px;
	font-size: 0;
	max-width: 800px;
	border-radius: 3px;
	background:rgba(0,0,0,0.92);
	box-shadow: 3px 3px 2px 2px;
	display: flex;
	flex-wrap: nowrap;
}

.main-panel-without-top-margin{
   margin-top:0;
}

.main-panel-form
{
  border-right: 2px solid black;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.hidden-section-element{
	display:none;
}

.form-switch-button
{
	padding:10px;
	color:white;
	width:50%;
	border:none;
	cursor:pointer;
	font:{
		family: 'Exo 2';
		weight: bold;
		size:18px;
	}
	
}

.form-switch-button:hover
{
	background: linear-gradient(#212120,#000000) !important;
}

.switch-to-login
{
	background: linear-gradient(#0fe00b,#054004);
}

.switch-to-register
{
	background: linear-gradient(#e81a4a,#780520);
}

.switch-panel-options
{
   font-size:0;
}

.login-or-register-panel
{
	width:41%;
	min-width:275px;
}

.main-panel-label
{
	display:block;
	text-align:center;
	padding:4px;
	font:{
	  family: "Exo 2", sans-serif;
	  size: 18px;
	}
	color:white;
}

.main-panel-input
{
    background: #302e2e;
    display: block;
    width: 95%;
    color: white;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid #302e2e;
    outline: none;
    font-size:18px;
    padding:2px;
    &:focus
    {
    	border: 2px solid #078a07;
    }
}


.forgot-password-link
{
	display:block;
	padding:4px;
	text-align:center;
	color:white;
	text-decoration:none;
	font: {
		family:"Exo 2", sans-serif;
		size: 17px;
	}

	&:hover
	{
	  text-decoration: underline;
	}
}


.login-information
{
	padding:10px 10px 2px 10px;
	color:white;
	font: {
		family:"Exo 2", sans-serif;
		size: 14px;
	}
	
}




@media(max-width: 840px){

   .main-panel{
   	width:95%;
   	margin:50px 10px;
   }

   .main-panel-without-top-margin{
		margin-top:0;
	}	
}

@media(max-width : 529px){
	.main-panel{
		flex-direction: column;
		min-width: 300px;
		max-width: 400px;
	}

	.main-panel-without-top-margin{
		margin-top:0;
	}

	.login-or-register-panel{
		min-width:0;
		width:100%;
		border-bottom: 2px solid white;
	}

	.main-panel-form{
		border-right:none
	}

	.welcome-user{
		max-height:none;
	}

}

