@import '~sass/basic';
@import '~sass/background_images';
@import '~sass/shadow_container';

$imageFolder : user-settings;
@include background-image(chick-in-bar,1);

.information-icon{
    fill:#ef0244;
    width:1.7em;
    height:auto;
    display:block;
    margin:5px auto;
}

.user-settings-panel{
    background: rgba(0,0,0,0.9);
    border-radius:8px;
    box-shadow: 2px 2px 2px 2px black;
    min-width: 320px;
    width:30%;
    margin: 10px auto;
}

.user-settings-tab-list{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    align-items: baseline;
}

.user-settings-tab{
    text-align: center;
    @include responsive-font(1.3vw,14px);
    line-height: 180%;
    margin:0;
    color:white;
    background:black;
    transition: background 1s;
    cursor:pointer;
    padding:0 8px;
    line-height: 170%;
    border-radius:8px 8px 0 0;
}

.active-tab{
    background:#242229;
    color:white;
}

.tab-icon{
    margin:0 2px;
    width:1em;
    height:auto;
    fill:white;
    vertical-align: text-bottom;
}

.first-tab{
    margin-left:5%;
}

.user-settings{
    padding-bottom:10px;
}

.arrows-container{
    background: #242229;
    padding:3px;
    @include responsive-font(1.6vw,19px);
}

.arrow-icon{
    border-radius:50%;
    padding:7px;
    color:white;

    &:hover{
        background:black;
    }
    cursor:pointer;
}

.settings-controls-container{
    position: relative;
}

.avatar-settings{
    text-align: center;
}

.avatar-image{
    border-radius:8px;
    display:block;
    margin:10px auto;
    width:128px;
    height:128px;
} 

.undefined-avatar{
    border-radius:8px;
    border:2px solid black;
    display:block;
    margin:10px auto;
    width:128px;
    height:128px;
    fill:#eb091c;
}

.information-for-user{
    padding:5px;
    color:white;
    margin:0;
    text-align: center;
    @include responsive-font();
}

.icon-information-container{
    padding:5px;
    text-align: center;
}

.avatar-notification{
    background:#242229;
}

.choose-avatar-button{
    display:flex;
    justify-content: space-between;
    width:95%;
    @include responsive-font();
    border-radius:5px;
    cursor:pointer;
    color:black;
    padding:4px;
    margin:0 auto 5px auto;
    background:linear-gradient(#e7ec07, #8e7109);
    &:hover{
        background:#ef0244;
        color:white;
    }
}

.avatar-file{
    position:absolute;
    top:-9999px;
    left:0;
}

.avatar-file-name{
    text-align:center;
    padding:2px;
    @include responsive-font(1.1vw,13px);
    min-height:1.5em;
    max-height: 4.5em;
    line-height:1.5em;
    overflow:hidden;
    word-wrap: break-word;
    color:white;
}

.delete-avatar-icon{
    width: 1.5em;
    height: auto;
    fill:white;
}

.upload-from-disc-icon{
    fill: #040404;
    width: 1.5em;
    height: auto;
}

.delete-avatar-button{
    background:linear-gradient(#ff0707, #520d02);
    color:white;
    display:flex;
    justify-content: space-between;
    padding:5px;
    border-radius:5px;
    margin: 0 auto 5px auto;
    border:none;
    outline:none;
    cursor:pointer;
    &:hover{
        background:red;
    }
    width:95%;
    @include responsive-font();
}

.other-settings{
    @include responsive-font();
}

.settings-panel-checkbox{
    color:white;
}



