@import '../../basic';
@import '../../background_images';
@import '../../shadow_container';

$imageFolder : user-settings;
@include background-image(chick-in-bar,1);

.user-settings-panel{
    background: rgba(0,0,0,0.9);
    overflow:hidden;
    border-radius:8px;
    box-shadow: 2px 2px 2px 2px black;
    min-width: 320px;
    width:30%;
    margin: calc(40px + 5vw) auto;
}

.user-settings-tab-list{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    align-items: baseline;
}

.user-settings-tab{
    text-align: center;
    @include responsive-font(1.6vw,18px);
    line-height: 180%;
    margin:0;
    color:white;
    background:black;
    transition: background 1s;
    cursor:pointer;
    padding:0 8px;
    line-height: 170%;
    border-radius:8px 8px 0 0;
}

.active-tab{
    background:#242229;
    color:white;
}

.tab-icon{
    margin:0 5px;
}

.first-tab{
    margin-left:5%;
}

.user-settings{
    border: 3px solid #242229;
    border-radius: 0 0 8px 8px;
    padding:10px 0;
}

.arrows-container{
    background: #242229;
    padding:3px;
    @include responsive-font(1.6vw,19px);
}

.arrow-icon{
    border-radius:50%;
    padding:5px;
    color:white;
    &:hover{
        background:black;
    }
    cursor:pointer;
}

.settings-controls-container{
    position: relative;
}