@import "~sass/basic";
@import "~sass/fonts";
@import '~sasscomponent/movies/movies_container';
@import "~sass/responsive_icon";

.full-body {
    background: #0e0e0e;
    fill:white;
}

@mixin background-image($imageName) {
    $imageFolderPath : '/images/decoration/categories/categories_header/';
    background-image: url($imageFolderPath + $imageName);
}

.category-header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin-top: -1.5vw;
    height: 35vw;
    border-bottom: 2px solid black;

    &__text{
        color:black;
        @include responsive-font(4vw, 40px, 'Teko');
        letter-spacing: 1vw;
        font-weight: 400;
        line-height: 1em;
        padding: 1vw;
        border-radius: 1vw;
        box-shadow: 1px 1px 1px 1px black;
        background:rgba(146, 27, 27, 0.8);
        color:white;
    }

    &__icon{
        width:1em;
        height: auto;
        fill:black;
        vertical-align: middle;
    }

}

.category--big-tits{
    @include background-image('big-tits-header.jpg');
}

.category--anal{
    @include background-image('anal-header.jpg');
}

.category--blowjob{
    @include background-image('blowjob-header.jpg');
}

.category--handjob{
    @include background-image('handjob-header.jpg');
}

.category--blondes{
    @include background-image('blonde-header.jpg');
}

.category--titfuck{
    @include background-image('titfuck-header.jpg');
}

.category--pussy-licking{
    @include background-image('pussy-licking-header.jpg');
}

.category--feet{
    @include background-image('feet-header.jpg');
}

.category--bukkake{
    @include background-image('bukkake-header.jpg');
}

.category--femdom{
    @include background-image('femdom-header.jpg');
}

.category--bdsm{
    @include background-image('bdsm-header.jpg');
}

.category--brunettes{
    @include background-image('brunettes-header.jpg');
}

.category--redheads{
    @include background-image('redheads-header.jpg');
}

.category--matures{
    @include background-image('matures-header.jpg');
}

.category--teenagers{
    @include background-image('teenagers-header.jpg');
}

.category--amateur{
    @include background-image('amateur-header.jpg');
}

.category--asians{
    @include background-image('asians-header.jpg');
}

.category--latinas{
    @include background-image('latinas-header.jpg');
}

.category--ebonies{
    @include background-image('ebonies-header.jpg');
}

.category--GangBang{
    @include background-image('GangBang-header.jpg');
}

.category--lesbians{
    @include background-image('lesbians-header.jpg');
}

.category--group{
    @include background-image('group-header.jpg');
}

.category--cumshot-compilations{
    @include background-image('cumshot-compilation-header.jpg');
}

.category--cum-on-face{
    @include background-image('cum-on-face-header.jpg');
}

.category--cum-swallow{
    @include background-image('cum-swallow-header.jpg');
}

.category--cum-on-feet{
    @include background-image('cum-on-feet-header.jpg');
}

.category--creampie{
    @include background-image('creampie-header.jpg');
}

.category--cum-in-ass{
    @include background-image('cum-in-ass-header.jpg');
}

.category--cum-on-tits{
    @include background-image('cum-on-tits-header.jpg');
}

.category--pantyhose{
    @include background-image('pantyhose-header.jpg');
}

.category--high-heels{
    @include background-image('high-heels-header.jpg');
}

.category--female-teachers{
    @include background-image('female-teachers-header.jpg');
}

.category--japanese{
    @include background-image('japanese-header.jpg');
}

.category--POV{
    @include background-image('POV-header.jpg');
}

.category--russians{
    @include background-image('russians-header.jpg');
}

.category--pornstars{
    @include background-image('pornstars-header.jpg');
}

