@import "~sass/basic";
@import "~sass/fonts";
@import "~sass/standard_background";

.prostitution-announcements-list-background {
    background: url('/images/decoration/prostitution/prostitution_list_background.webp');
    background-size:cover;
    background-attachment: fixed;
}

.container {
    background:rgba(0,0,0,0.7);
    border-radius:5px;
    box-shadow: 2px 2px 2px 3px;
    max-width:1200px;
    margin:0 auto;
    width: fit-content;
}

@media(max-width:950px) {
    .container {
        margin: 20px auto 0;
    }
}