@import "~sass/basic";
@import "~sass/fonts";
@import "~sass/standard_background";

.prostitution-notice-background {
    background: url('/images/decoration/prostitution/add_notice-min.jpeg');
    background-size:cover;
    background-attachment: fixed;
}

.offer-editor {
    margin: 0 auto;
}