@import '~sass/shadow_container';

.registration-information{
	display:none;
}

.welcome-user{
	max-height:250px;
	overflow-y:auto;
}

.information-section{
	flex-grow:10;
	font:{
	  family: "Exo 2", sans-serif;
	  size: 1.2vw;
	}
	color:white;
	padding:7px;
	position: relative;
}

.input-name{
	font-weight: bold;
	margin: 5px 0;
}

.input-list{
	display:block;
	margin:5px 0;
}

.input-description{
	display:block;
	margin-left:12px
}

.scroll-container{
	max-height: 420px;
	overflow-y: auto;
}

@media(max-width:1200px){
	
	.information-section{
		font-size: 16px;
	}
}