.mainpage-background-number-1
{
	background-image: url('../../images/decoration/mainpage/1.jpg'); 
}

.mainpage-background-number-2
{
	background-image: url('../../images/decoration/mainpage/2.jpg');
}

.mainpage-background-number-3
{
	background-image: url('../../images/decoration/mainpage/3.jpg');  
}