

@import '~sass/basic';
@import '~sasscomponent/icons/icon_confirmation';

.icon-confirmation-center{
   display: block;
   margin:0 auto;
   width:6vw;
   height:6vw;
   min-width:50px;
   min-height:50px;
}

.confirmation-icon-bird{
   border-right:0.6vw solid white;
   border-bottom:0.6vw solid white;
}

.user-notification-container{
    margin: calc(40px + 6vw) auto;
    background: rgba(0,0,0,0.9);
    width: 35%;
    min-width: 310px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    color: white;
    overflow:hidden;
}

.user-message{
  text-align: center;
  @include responsive-font(1.5vw,20px);
  padding:7px;
}

.icon-background{
     padding:7px;
     background:black;
}

.user-email-address{
   display:block;
   text-align: center;
   font-weight:bold;
   @include responsive-font(1.7vw,23px);
   padding:10px;
}

@media(max-width: 400px){
   .confirmation-icon-bird{
       border-right: 3px solid white;
       border-bottom: 3px solid white;
   }
}

@media(min-width: 1025px) and (max-width : 1336px)
{
  .full-body{
	 background-image: url('/images/decoration/password-reset/compressed/password_reset_form_background1336-min.jpg');
   }
}

@media(min-width: 1337px) and (max-width : 1600px)
{
   .full-body{
   	  background-image: url('/images/decoration/password-reset/compressed/password_reset_form_background1600-min.jpg');
   }
}

@media(min-width: 700px) and (max-width : 1025px)
{
   .full-body{
   	  background-image: url('/images/decoration/password-reset/compressed/password_reset_form_background1025-min.jpg');
   }
}

@media(max-width : 699px)
{
   .full-body{
   	  background-image: url('/images/decoration/password-reset/compressed/password_reset_form_background000-min.jpg');
   }
}



