@import '~sass/basic';
@import '~sass/fonts';
@import '~sass/shadow_container';

.password-reset-form{
  width:50%;
  min-width:300px;
  margin: 100px auto;
  box-shadow:3px 3px 3px 3px black;
  border-radius:4px;
  background:rgba(0,0,0,0.9);
  padding-bottom:5px;
  border-radius: 7px;
}

.labeled-checkbox-description{
  font-family: "Exo 2", sans-serif;
}

.user-information{
  color:white;
  text-align:center;
  @include responsive-font(1.3vw, 18px, "Exo 2", 1050px);
  padding:4px;
  border-radius: 7px;
}

.user-information-container{
  position: relative;
}

.checkbox-description{
    color: white;
    font-size: 17px;
    font-family: "Exo 2", sans-serif;
}

.checkbox-container{
    margin: 0 auto;
    width: 90%;
}

.expect-bar-container{
  width: 40%;
}

@media(min-width: 1025px) and (max-width : 1336px)
{
  .full-body{
	 background-image: url('../images/decoration/password-reset/compressed/password_reset_form_background1336-min.jpg');
   }
}

@media(min-width: 1337px) and (max-width : 1600px)
{
   .full-body{
   	  background-image: url('../images/decoration/password-reset/compressed/password_reset_form_background1600-min.jpg')
   }
}

@media(min-width: 700px) and (max-width : 1025px)
{
   .full-body{
   	  background-image: url('../images/decoration/password-reset/compressed/password_reset_form_background1025-min.jpg')
   }
}

@media(max-width : 699px)
{
   .full-body{
   	  background-image: url('../images/decoration/password-reset/compressed/password_reset_form_background000-min.jpg')
   }
}



