@import '../basic';
@import 'information_section';
@import 'register_page_background_images';
@import '../components/report';


.main-panel
{
	width: 60%;
	margin: 100px auto 10px;
	font-size: 0;
	max-width: 800px;
	border-radius: 3px;
	background:rgba(0,0,0,0.92);
	box-shadow: 3px 3px 2px 2px;
	display: flex;
	flex-wrap: nowrap;
}

.main-panel-without-top-margin{
   margin-top:0;
}

.main-panel-form
{
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.register-panel
{
	width:41%;
	min-width:275px;
	position:relative;
	border-right: 2px solid black;
}

.main-panel-label
{
	display:block;
	text-align:center;
	padding:4px;
	font:{
	  family: "Exo 2", sans-serif;
	  size: 18px;
	}
	color:white;
}

.main-panel-input
{
    background: #302e2e;
    display: block;
    width: 95%;
    color: white;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid #302e2e;
    outline: none;
    font-size:18px;
    padding:2px;
    &:focus
    {
    	border: 2px solid #078a07;
    }
}

.expect-bar-container{
	width:60%;
}

@media(max-width: 840px){

   .main-panel{
   	width:95%;
   	margin:50px auto 10px;
   }

}

@media(max-width : 529px){
	.main-panel{
		flex-direction: column;
		min-width: 300px;
		max-width: 400px;
	}

	.register-panel{
		min-width:0;
		width:100%;
		border-bottom: 2px solid white;
	}

	.main-panel-form{
		border-right:none
	}

	.welcome-user{
		max-height:none;
	}

}

