@import '~sass/basic';
@import '~sass/auth/information_section';
@import '~sass/auth/register_page_background_images';

.main-panel
{
	width: 60%;
	margin: 20px auto 10px;
	font-size: 0;
	max-width: 800px;
	border-radius: 3px;
	background:rgba(0,0,0,0.92);
	box-shadow: 3px 3px 2px 2px;
	display: flex;
	flex-wrap: nowrap;
}

.main-panel-without-top-margin{
   margin-top:0;
}

.main-panel-form
{
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.register-panel
{
	width:41%;
	min-width:275px;
	position:relative;
	border-right: 2px solid black;
}

.expect-bar-container{
	width:60%;
}

.registration-requirements{
	margin:0;
	padding:0;
}

@media(max-width: 840px){

   .main-panel{
   	width:95%;
   }

}

@media(max-width : 529px){
	.main-panel{
		flex-direction: column;
		min-width: 300px;
		max-width: 400px;
	}

	.register-panel{
		min-width:0;
		width:100%;
		border-bottom: 2px solid white;
	}

	.main-panel-form{
		border-right:none
	}

	.welcome-user{
		max-height:none;
	}

}

