.register-background-image-1
{
	background-image: url('../../images/decoration/register/1.jpg'); 
}

.register-background-image-2
{
	background-image: url('../../images/decoration/register/2.jpg');
}

.register-background-image-3
{
	background-image: url('../../images/decoration/register/3.jpg');  
}