@import '~sass/basic';

.session-expired{
    background-image: url('/images/decoration/session-expired/clock-min.jpg');
    background-position:center;
}

.user-notification{
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0,0,0, 0.8);
    color: white;
    padding: 4px;
    border: 1px solid silver;
    box-shadow: 2px 2px 2px 2px black;
    @include responsive-font();
    text-align: center;
}

.link{
    display: block;
    width: max-content;
    margin: 20px auto;
    color: #10c727;
    @include responsive-font(1.8vw, 24px);
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}