.select-label{
	display:flex;
	align-items: baseline;
	border-radius:7px;
	padding: 5px;
	color:white;
	font:{
      family: "Exo 2", sans-serif;
      size: 16px;
	};
	width:95%;
	margin:0 auto;
	background:#242229;
	position:relative;
	border: 2px solid transparent;
}

.select-description{
	white-space: nowrap;
}

.described-select{
	width:1%;
	flex-grow: 10;
	font:{
      family: "Exo 2", sans-serif;
      size: 16px;
	};
	color:white;
	border: none;
	background:#242229;
	outline:none;
}

.input-with-error{
    border: 2px solid red;
}

.input-correct-value{
    border: 2px solid green;
}