@mixin show-sidebar-button{
    position: absolute;
    top:100%;
    border-radius: 0 0 5px 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    &:hover{
        background:#2d2d30;
    }
    transition:opacity 1s, background 2s;
    box-shadow: -1px 2px 2px 1px black;
}

.visible-sidebar-button{
    opacity:1;
}

.hidden-sidebar-button{
    opacity:0;
    pointer-events: none;
}
