@import '~sass/fonts';
$border-color: black;
@mixin navbar-link($alignItems : baseline){
	color:white;
	text-decoration: none;
	display:flex;
	align-items: $alignItems;
}

.logo-link{
	@include navbar-link();
}

.sub-menu-link{
	text-decoration: none;
	color:inherit;
	display: block;
}

.logo-description::after{
	content: "Sex-Imperium";
}


.navigation-list{
	list-style-type: none;
	padding:0;
	margin:0;
	display:flex;
	background: #0d0c0d;
	align-items: stretch;
	position:relative;
	z-index:3;
	box-shadow: 2px 2px 2px 2px black;
}

.register-selection{
	margin-left: auto;
}

.navigation-element-main{
	transition: background 2s;
	&:hover{
		background: #2d2d30;
	}
	&:hover{
      cursor:pointer;
	}
	color:white;
	display: inline-block;
	line-height: 100%;
	@include responsive-font(1.5vw, 18px, 'Aldrich');
	display: flex;
    flex-direction: row;
	align-items: center;
	padding:6px;
}

.phantom-button{
	line-height:0;
}

.navbar-element-user{
	margin-left: auto;
	padding: 0 4px;
	align-items: center;
	position:relative;
}

.page-navigation{
    position: fixed;
    width: 100%;
    top:0;
    z-index:5;
    font-size:0;
    &:focus{
    	outline:none;
    };
}

@mixin navbar-icon-basic{
	width:1em;
	height: auto;
}

.navbar-icon{
	margin:0 5px;
	
}

.navbar-icon-outer{
	fill:#eb091c;
	@include navbar-icon-basic();
}

.contenerized-navbar-element{
	position:relative;
	padding:0;
}

.show-user-sidebar-button{
	display: flex;
    align-items: center;
}

.user-nick{
	margin:0 4px;
	@media(max-width:570px){
		max-width:150px;
		overflow: hidden;
	}
	max-width: 200px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.user-avatar{
	width:2vw;
	height:2vw;
	margin:0 4px;
	border-radius:2px;
	border-radius: 30%;
	@media(max-width:1200px){
		width:35px;
		height:35px;
	}
}

.navbar-link-main-manu{
	@include navbar-link(center);
}

.login-description{
	line-height:0.5em;
}

.navbar-phantom-button{
	display: flex;
    align-items: center;
}

